
@import "base/variables.scss";

@import "components/nav.scss";
@import "components/sidebar.scss";
@import "components/dropdown.scss";

.wrapper {
    width: 100%;
    height: 450px; // make dynamic
}

.nav-toggle.is-active span {
    background-color: $dark;
}