
</head>
<body>
    <header>
        <nav class="nav has-shadow" role="navigation">
            <div class="container is-fluid">
                <div class="nav-left">
                    <a class="nav-item brand">Bulma Admin</a>
                </div>
                <span class="nav-toggle">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
                <ul class="nav-right nav-menu is-active">
                    <li class="nav-item dropdown-toggle button-notify big-dropdown">
                        <a href="#">
                            <span class="icon is-small"><i class="fa fa-envelope"></i></span>
                            <span class="tag is-primary">1</span>
                        </a>
                        <ul class="dropdown dropdown-messages box">
                            <li>
                                <a class="dropdown-link media" href="#">
                                    <div class="media-left">
                                        <figure class="image is-64x64">
                                            <img src="http://bulma.io/images/placeholders/128x128.png" alt="Image">
                                        </figure>
                                    </div>
                                    <div class="media-content">
                                        <div class="content">
                                            <p>
                                                <strong>John Smith</strong> <small>@johnsmith</small> <small>31m</small>
                                                <br>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing  ...
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-link media" href="#">
                                    <div class="media-left">
                                        <figure class="image is-64x64">
                                            <img src="http://bulma.io/images/placeholders/128x128.png" alt="Image">
                                        </figure>
                                    </div>
                                    <div class="media-content">
                                        <div class="content">
                                            <p>
                                                <strong>John Smith</strong> <small>@johnsmith</small> <small>31m</small>
                                                <br>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing  ...
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-link media" href="#">
                                    <div class="media-left">
                                        <figure class="image is-64x64">
                                            <img src="http://bulma.io/images/placeholders/128x128.png" alt="Image">
                                        </figure>
                                    </div>
                                    <div class="media-content">
                                        <div class="content">
                                            <p>
                                                <strong>John Smith</strong> <small>@johnsmith</small> <small>31m</small>
                                                <br>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing  ...
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-link media" href="#">
                                    <div class="media-left">
                                        <figure class="image is-64x64">
                                            <img src="http://bulma.io/images/placeholders/128x128.png" alt="Image">
                                        </figure>
                                    </div>
                                    <div class="media-content">
                                        <div class="content">
                                            <p>
                                                <strong>John Smith</strong> <small>@johnsmith</small> <small>31m</small>
                                                <br>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing  ...
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown-toggle button-notify">
                        <a href="#">
                            <span class="icon is-small"><i class="fa fa-tasks"></i></span>
                            <span class="tag is-primary">1</span>
                        </a>
                        <ul class="dropdown box">
                            <li>
                                <a class="dropdown-link">Link 1</a>
                            </li>
                            <li>
                                <a class="dropdown-link">Link 2</a>
                            </li>
                            <li class="divider">
                            </li>
                            <li>
                                <a class="dropdown-link">Link 3</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown-toggle button-notify">
                        <img class="prof-pic" src="../images/prof-pic.jpg" />
                        <a href="#">
                            Samantha
                        </a>
                        <ul class="dropdown box">
                            <li>
                                <a class="dropdown-link">Link 1</a>
                            </li>
                            <li>
                                <a class="dropdown-link">Link 2</a>
                            </li>
                            <li class="divider">
                            </li>
                            <li>
                                <a class="dropdown-link">Link 3</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="panel sidebar" role="navigation">
            <ul>
                <li class="panel-item panel-highlight">
                    <img class="prof-pic" src="../images/prof-pic.jpg" />
                    <p class="panel-highlight-text">
                        <span class="subtitle is-6">Welcome</span>
                        <br>
                        <span class="title is-5">Samantha</span>
                    </p>
                </li>
                <li class="panel-item">
                    <a class="panel-title">
                        <span class="icon is-small"><i class="fa fa-dashboard"></i></span> Dashboard
                    </a>
                </li>
                <li class="panel-item has-sub-panel">
                    <a class="panel-title">
                        <span class="icon is-small"><i class="fa fa-thumb-tack"></i></span> Posts
                        <span class="icon is-small arrow"><i class="fa fa-angle-down"></i></span>
                    </a>
                    <ul class="sub-panel">
                        <li class="panel-item">
                            <a class="panel-title">All Posts</a>
                        </li>
                        <li class="panel-item">
                            <a class="panel-title">Add New</a>
                        </li>
                        <li class="panel-item">
                            <a class="panel-title">Categories</a>
                        </li>
                    </ul>
                </li>
                <li class="panel-item">
                    <a class="panel-title">
                        <span class="icon is-small"><i class="fa fa-user"></i></span> Users
                    </a>
                </li>
            </ul>
        </div>
    </header>