
</head>
<body>
    <header>
        <nav class="nav has-shadow" role="navigation">
            <div class="container is-fluid">
                <div class="nav-left">
                    <a class="nav-item brand">
                        Bulma Admin
                    </a>
                </div>
                <span class="nav-toggle">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
                <div class="nav-right nav-menu">
                    <a class="nav-item button-notify">
                        <span class="icon is-small"><i class="fa fa-dashboard"></i></span>
                        <span class="tag is-primary">1</span>
                    </a>
                    <a class="nav-item button-notify">
                        <span class="icon is-small"><i class="fa fa-dashboard"></i></span>
                        <span class="tag is-primary">1</span>
                    </a>
                    <a class="nav-item button-notify">
                        <span class="icon is-small"><i class="fa fa-dashboard"></i></span>
                        <span class="tag is-primary">1</span>
                    </a>
                </div>
            </div>
        </nav>
        <div class="panel sidebar" role="navigation">
            <ul>
                <li class="panel-item">
                    <a class="panel-title">
                        <span class="icon is-small"><i class="fa fa-dashboard"></i></span> Dashboard
                    </a>
                </li>
                <li class="panel-item has-sub-panel">
                    <a class="panel-title">
                        <span class="icon is-small"><i class="fa fa-thumb-tack"></i></span> Posts
                        <span class="icon is-small arrow"><i class="fa fa-angle-down"></i></span>
                    </a>
                    <ul class="sub-panel">
                        <li class="panel-item">
                            <a class="panel-title">All Posts</a>
                        </li>
                        <li class="panel-item">
                            <a class="panel-title">Add New</a>
                        </li>
                        <li class="panel-item">
                            <a class="panel-title">Categories</a>
                        </li>
                    </ul>
                </li>
                <li class="panel-item">
                    <a class="panel-title">
                        <span class="icon is-small"><i class="fa fa-user"></i></span> Users
                    </a>
                </li>
            </ul>
        </div>
    </header>