.dropdown {
  display: none;
  right: 0;
  position: absolute;
  top: 100%;
  z-index: 1000;
  border-radius: 3px;
  min-width: 100px;
  padding: 5px 0px;
  .dropdown-link {    
    line-height: 25px;
  }
  .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: $grey-lighter;
  }
  .image img {
      max-height: none;
  }
}

.dropdown.dropdown-messages {
  width: 310px;
  min-width: 0;
  margin: 0px;
  .dropdown-link {
    padding: 10px 15px;
    line-height: 21px;
  }
}

.dropdown-toggle:hover {
    .dropdown {
        display: block;
    }
}

@media screen and (max-width: 768px) {
  .dropdown.dropdown-messages {
    left: 10px;
  }
  .dropdown-toggle {
    display: inline-block;
  }
}
