
.nav {
    border-bottom: 1px solid $grey-lighter;
    .nav-item.brand {
        font-size: 17px;
    }
}
.button-notify {
    a {
        padding-right: 20px;
        position: relative;
    }
    min-width: 60px;
    .icon {
        display: block;
        font-size: 16px;
        position: absolute;
        left: 12px;
        bottom: -10px;
    }
    .tag {
        width: 15px;
        height: 15px;
        padding: 5px;
        font-size: 10px;
        position: absolute;
        bottom: 0px;
        left: 15px;
    }
    .prof-pic {
        border-radius: 15px;
        margin: 0px 15px;
    }
}
.button-notify:hover {
    background-color: $hover-bg-primary;
    position: relative;
}

@media screen and (max-width: 768px) {
    .nav-item.brand {
    }
    .nav-right.is-active {
        padding-left: 10px;
        display: flex;
        justify-content: flex-start;
        height: 49px;
        .nav-item.button-notify  {
            border-top: none;
            padding: 0.5rem 0.75rem;
            .icon {    
                left: 3px;
                bottom: -7px;
            }
            .tag {
                left: 5px;
                bottom: 3px;
            }
        }
        .nav-item.button-notify.big-dropdown {
            position: static;
        }
    }
}