
.nav {
    border-bottom: 1px solid $grey-lighter;
    .nav-item.brand {
        font-size: 17px;
        padding-left: 20px;
    }
}
.button-notify {
    width: 60px;
    .icon {
        font-size: 16px;
        position: relative;
        left: 10px;
        top: 5px;
    }
    .tag {
        width: 15px;
        height: 15px;
        padding: 5px;
        font-size: 10px;
        position: relative;
        bottom: 5px;
        right: 4px;
    }
}
.button-notify:hover {
    background-color: $hover-bg-primary;
    position: relative;
}

@media screen and (max-width: 768px) {
    .nav-item.brand {
    }
    .nav-right.is-active {
        padding-left: 10px;
        display: flex;
        justify-content: flex-start;
        height: 49px;
        .nav-item.button-notify  {
            border-top: none;
            padding: 0.5rem 0.75rem;
            .icon {
                left: 7px;
                top: 10px;
            }
            .tag {
                position: static;
            }
            .tag:last-child:not(:first-child) {
                margin-left: 0px;
            }
        }
        .nav-item.button-notify.big-dropdown {
            position: static;
        }
    }
}